* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --strong: #1c1c1c;
  --weak: #5c5c5c;
  --muted: #aeaeae;

  --background: #fafafa;
  --bottom: #eaeaea;
  --middle: #dfdfdf;
  --top: #bfbfbf;

  background-color: var(--background);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 64rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#equations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  /* font-size: 1.25em; */
}

#variables {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#variables > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

#variables > div > label {
  /* font-weight: bold; */
  white-space: nowrap;
  font-size: 1.25rem;
}

#variables > div > input {
  background: none;
  border: 0.125rem solid var(--bottom);
  height: 2.5rem;
  font-size: 1rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}

#variables > div > input:focus-visible {
  outline: 0.125rem solid var(--strong);
}

table.matrix {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

table.matrix tr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

table.matrix td {
  height: 2.5rem;
  width: 2.5rem;
  border: 0.125rem solid var(--bottom);
  border-radius: 0.25rem;
}

table.matrix td input {
  background: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 0.25rem;
}

table.matrix td input:focus-visible {
  outline: 0.125rem solid var(--strong);
}

table.matrix td input[type=number]::-webkit-inner-spin-button,
table.matrix td input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}